<% if @contents.present? %>

  <h4><%= content.about %></h4>
  <h4><%= content.address %></h4>
  <h4><%= content.city %></h4>
  <h4><%= content.postal_code %></h4>
  <h4><%= content.email %></h4>
  <h4><%= content.phone %></h4>
  <h4><%#= content.province %></h4>

<% end %>