<% if @contents.present? %>

  <h4><%= content.about %></h4>
  <h4><%= content.address %>, <%= content.city %>, <%= content.postal_code %></h4>
  <h4>Email: <%= content.email %></h4>
  <h4>Phone: <%= content.phone %></h4>

<% end %>