    <% if @products.present? %> 
      <div class="card" style="min-width: 20rem;">
        <%= image_tag product.avatar, class: 'card-img-top img-fluid mx-auto d-block' %>
        <div class="card-block">
          <h4 class="card-title"><%= link_to product.name, product_path(product) %></h4>
          <p class="card-text"><%= product.description %></p>
          <%= link_to '<button type="button" class="btn btn-primary">Buy</button>'.html_safe,  remember_to_call_product_path(product), method: :post %>
        </div>
      </div>
    <% end %>
  
  <% if @product.present? %>
      <!-- <p>There are no posts containing the term(s) <%#= params[:search] %>.</p> -->

      <h4><%= link_to product.name, product_path(product) %></h4>
    <h4>Description: <%= product.description %></h4>
    <% if product.image.present? %>
      <%= image_tag product.image, class: 'card-img-top img-fluid mx-auto d-block' %>
    <% end %>
    <h4>Price: $<%= product.price %></h4>

    <%= link_to '<button type="button" class="btn btn-primary">Buy</button>'.html_safe,  remember_to_call_product_path(product), method: :post %>

    <%#= link_to 'Buy', remember_to_call_product_path(product), method: :post %>

    <% end %>